<form>
  <div class="row">
    <div class="col-md-6">
      <article class="panel panel-primary">
      <header class="panel-heading">
      <h1>Customer</h1>
      </header>
      <section class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="sr-only" for="first-name">First Name</label>
            <input class="form-control" type="text" name="first-name" value="Bob">
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="sr-only" for="last-name">Last Name</label>
            <input class="form-control" type="text" name="last-name" value="Jones">
          </div>
        </div>

        <div class="col-md-4">
          <div class="input-group">
            <div class="input-group-addon">@</div>
            <input class="form-control" type="text" name="username" value="bobert123">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only" for="email">Email</label>
        <input class="form-control" type="text" name="email" value="bobbyj@somewhereelse.net">
      </div>
      </section>
      <footer class="panel-footer">
      <label for="joined">Joined</label> 12/13/2014
      </footer>
      </article>

      <article class="panel panel-primary">
      <header class="panel-footer">
      <h2>Shipping Address</h2>
      </header>
      <section class="panel-body">
      <div class="form-group">
        <label class="sr-only" for="street-address">Street Address</label>
        <input type="text" class="form-control" name="street-address" value="123 Any St">
      </div>
      <div class="form-group">
        <label class="sr-only" for="street-address-extra">Apt/Suite</label>
        <input type="text" class="form-control" name="street-address-extra" value="Unit 001">
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="sr-only" for="city">City</label>
            <input class="form-control" type="text" name="city" value="San Francisco">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="sr-only" for="state">State</label>
            <input class="form-control" type="text" name="state" value="CA">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="sr-only" for="zip">Zip</label>
            <input class="form-control" type="text" name="zip" value="94102">
          </div>
        </div>

      </div>
     </section> 
      </article>
    </div>
    <div class="col-md-6">
      <article class="panel panel-primary">
      <header class="panel-footer">
      <h1 class="h4">Billing Info</h1>
      </header>
      <section class="panel-body">
      <div class="row">
        <div class="col-md-7">
          <p class="h4">
            ****-****-****-1234
           <span class="label label-success">VISA</span>
          </p>
          <p>
            <label>Expires </label>04/19
          </p>
        </div>
        <div class="col-md-5 text-right">
          <button class="btn btn-lg btn-default">
            View Details...
          </button>
        </div>
      </div>
      <h3>Billing Address <input type="checkbox"> Same as shipping address?</h3>

      <div class="form-group">
        <label class="sr-only" for="street-address">Street Address</label>
        <input type="text" class="form-control" name="street-address" value="123 Any St">
      </div>
      <div class="form-group">
        <label class="sr-only" for="street-address-extra">Apt/Suite</label>
        <input type="text" class="form-control" name="street-address-extra" value="Unit 001">
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="sr-only" for="city">City</label>
            <input class="form-control" type="text" name="city" value="San Francisco">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="sr-only" for="state">State</label>
            <input class="form-control" type="text" name="state" value="CA">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="sr-only" for="zip">Zip</label>
            <input class="form-control" type="text" name="zip" value="94102">
          </div>
        </div>

      </div>
   </section> 
   </article> 

    </div>
  </div>
</form>
